@page "/"
@inject HttpClient httpCli;

@if (_personsOverall is null)
{
    <p>Loading...</p>
}
else
{
    <TableComponent
        Items="_personsOverall"/>
}

@code {
    private List<PersonDisplay> _personsOverall;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            _personsOverall = await httpCli.GetFromJsonAsync<List<PersonDisplay>>("http://localhost:5212/person/");
        }
        catch (Exception ex)
        {
            throw new Exception(ex.Message);
        }
    }

    private void Clicked()
    {
        
    }
}
