
<EditForm Model="@toDo" OnSubmit="HandleSubmit">
    <AntiforgeryToken />
    <label for="Subject"> Enter Subject: </label>
    <InputText id="subject" @bind-Value="toDo.Subject" />
    <label for="Content"> Enter Subject: </label>
    <InputTextArea id="content" @bind-Value="toDo.Content" />
    <button type="submit" class="btn btn-primary">Save</button>
</EditForm>

@code {

}
